#openOverlay {
    justify-content: center;
    position:fixed;
    top: 0;
    left: 0;

    width: 100vw;
    height: 100vh;
    background: #888888;
    opacity: .95;
    display: none;
}

#tipOpen{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-top: 2.5%;
    width: 450px;
    height: 840px;

    box-shadow: 10px -12px 100px 2px #000045;
    background-color: #ffffff;
    border-radius: 5px;
    opacity: 1;
}

/* #titleOpenCard{
    display: flex;
    justify-content:center;
    flex-direction: column;
    
    margin-bottom: 25px;
} */

#titleOpenCard h4{
    display: flex;
    justify-content:center;

    margin-top: 15px;
    margin-bottom: 35px;    
}

.tipOpenCard{
    display: flex;
    justify-content:center;
    margin-top: 5px;

    text-align: left;
    font-size: 12px;
}

#opnDescDiv{
    overflow-x: hidden;
    max-width: 445px;
    max-height: 350px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.opnDesc{
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;

    width: 344px;
    height: 255px;

    display: flex;
    justify-content: center;
    word-break: break-all;
    overflow-wrap: break-word;
}

#opnTipVideo{
    display: flex;
    justify-content: center;

    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 25%;
    margin-right: 25%;
}

#opnTipbtn{
    display: flex;
    flex-direction: row;
    justify-content: right;

    gap: 25px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-right: 35px;
}