body{
    background-color:lightgrey;
}

#vanderlay{
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #888888;
    width: 99vw;
    height: 99vh;
    opacity: .95;
    display: none;
}

#editlay{
    position:fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #888888;
    width: 99vw;
    height: 99vh;
    opacity: .95;
    display: none;
}

input{
    border-radius: 5px;
}

main{
    margin-top: 15vh;
}

#panel{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#left{
    background-color: #2A0D5D;
    color: white;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

h1{
    margin-left: 50px;
}

header{
    display: flex;
}

/* #header{
    ///TODO
      //fazer um header para pagina
} */

header > img{
    margin-left: 15px;
    margin-top: 10px;
    width: 75px;
    height: 75px;
}

h1{
    margin-top: 0px;
    margin-left: 10px;
}

h1 > span{
    font-size: small;
}

#left input{
    margin-top: 7.5px;
    display: flex;
    width: 350px;
    height: 20px;
    box-shadow: 2px 4px 0 0 #000000;
}

#left select{
    width: 357px;
    height: 20px;
    box-shadow: 2px 4px 0 0 #000000;
    margin-top: 7.5px;
}

formforms input:invalid{
    border-color: red;
}
form input:valid{
    border-color: green;
}
form textarea:invalid{
    border-color: red;
}
form textarea:valid{
    border-color: green;
}

#formBtn{
    margin-top: 25px;
    display: flex;
    justify-content: center;
    gap: 25px;
}

#required{
    margin-left: 50px;
    font-size: xx-small;
}

.required{
    color: red;
    margin-left: 7px;
    margin-right: 7px;
}

#left button{
    width: 150px;
}

#left label{
    margin-top: 7.5px;
    display: flex;
}

#left textarea{
    margin-top: 7.5px;
    resize: none;
}

/* divisor */
#divisor{
    width: 2px;
    height: 612px;
    background-color: #000000;
}

/* right side */
#right{
    background-color: #2A0D5D  ;
}

#cards{
    margin-top: 5px;
    margin-bottom: 0px;
    display: flex;
    gap: 10px;
    
    margin-top: 15px;
    margin-left: 7px;
}

.card{
    height: 50px;
    box-shadow: 0 2px 2px 0 #000000;
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: 0.3s;
    padding: .5em;
    text-align: center;
}

#search{    
    border-radius: 20px;
    margin-left: 10px;
    margin-bottom: 0px;
    margin-top: 15px;
    width: 355px;
    height: 25px;
    max-width: 375px;
}


.tipC{
    margin-top: 0px;
    margin-bottom: 12px;
}

/*CARTOES*/
#tipBoard{
    display: flex;
    background-color: dimgrey;
    margin-top: 15px;
    margin-left: 3.5px;
    overflow-y: hidden;
    width: 425px;
    height: 465px;
    max-width: 425px;
    max-height: 464px;
    flex-wrap: wrap;
}

.tip{
    height: 210px;
    width: 180px;
    box-shadow: 0 2px 2px 0 #000000;
    background-color: #f0f0f0;
    border-radius: 5px;
    transition: 0.3s;
    margin-top: 5px;
    margin-left: 5px;
    padding: .5em;

    position: relative;
    text-align: center;
    display:flex;
    flex-direction: column;
}

.tipClass{
    margin-top: -1px;
    margin-bottom: 7px;
    text-align: left;
    font-size: 12px;
    overflow-wrap: break-word;
}
h4{
    margin: 0px;
    overflow-wrap: break-word;
}

.tipAside{
    overflow-y: hidden;
    width: 180px;
    height: 105px;
}

.desc{
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: left;
    font-size: 12px;
    overflow-wrap: break-word;
}

#tipbtn{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 5px;
}

#videoBtn{
    height: 100%;
}

.overlay{
    position:absolute;
    background: rgba(25, 0, 0, 0);
    width: 180px;
    height: 175px;
}

/*CARTAO aberto*/
#tipOpn, #tipEditor{
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 35vw;
    margin-top: 5rem;

    width: 450px;
    height: 840px;

    box-shadow: 0 2px 2px 0 #000000;
    background-color: #ffffff;
    border-radius: 5px;
    opacity: 1;
}

#h4{
    display: flex;
    flex-direction: column;
    justify-content:center;
    margin-bottom: 25px;
}

#h4 h4{
    display: flex;
    justify-content:center;
    margin-top: 15px;
    margin-bottom: 35px;
    
}

.opnTipClass{
    text-align: left;
    font-size: 12px;

    margin-top: 5px;
    display: flex;
    justify-content:center;
}

#opnP{
    /* overflow-y:scroll; */
    overflow-x: hidden;
    max-width: 445px;
    max-height: 350px;

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.opnDesc{
    /* background-color: #2A0D5D; */
    
    margin-top: 0px;
    margin-left: 10%;
    margin-right: 10%;

    width: 344px;
    height: 330px;

    display: flex;
    justify-content: center;
    word-break: break-all;
    overflow-wrap: break-word;
}

#opnTipVideo{
    margin-top: 20px;
    margin-bottom: 25px;
    margin-left: 25%;
    margin-right: 25%;
    display: flex;
    justify-content: center;
}

#opnTipbtn{
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 25px;
    margin-top: 15px;
    margin-bottom: 30px;
    margin-right: 35px;
}